.items {
  background-color: black;
  padding: 1.5rem;
  min-width: fit-content;
  max-width: fit-content;
}


.homepage a {
  color: white;
}

.homepage {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.items:nth-of-type(2) {
  margin-bottom: 2rem;
}

.items:nth-of-type(3) {
  margin-bottom: 2rem;
}
.items:nth-of-type(1) {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 60rem) {
  .items:nth-of-type(2) {
    transform: translateX(-2rem);
  }

  .items:nth-of-type(3) {
    transform: translateX(1rem);
  }
  .items:nth-of-type(4) {
    transform: translateX(-7.5rem);
  }
  .items:nth-of-type(1) {
    transform: translateX(7rem);
  }

  .items:hover{
  background-color: blue;
}

  .items {
  padding: .75rem;
 font-size: 1.7rem
}
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .items:nth-of-type(1) {
    margin-bottom: 5rem;
    transform: translateX(11rem);
  }

  .items:nth-of-type(2) {
    margin-bottom: 5rem;
    transform: translateX(-5rem);
  }

  .items:nth-of-type(3) {
    margin-bottom: 5rem;

    transform: translateX(4rem);
  }
  .items:nth-of-type(4) {
    margin-bottom: 5rem;

    transform: translateX(-10.5rem);
  }

    .items {
  padding: 1.5rem;
 font-size: 2rem
}

}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
   .items:nth-of-type(1) {
    margin-bottom: 5rem;
    transform: translateX(11rem);
  }

  .items:nth-of-type(2) {
    margin-bottom: 5rem;
    transform: translateX(-5rem);
  }

  .items:nth-of-type(3) {
    margin-bottom: 5rem;

    transform: translateX(4rem);
  }
  .items:nth-of-type(4) {
    margin-bottom: 5rem;

    transform: translateX(-10.5rem);
  }

    .items {
  padding: 2rem;
 font-size: 2rem
}
}
