html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: arial;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: purple;
  font-size: 4rem;
  text-transform: capitalize;
}

body {
  font-size: 2rem;
  text-transform: capitalize;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: blue;
}

.not-found {
  /* width: 30vw; */

  /* transform: translate(-10% ,-45%); */
  /* position: absolute; */
  /* top: 40%; */
  /* max-width: 70vw; */
  height: 100vh;
  padding-left: 10vw;
  padding-right: 10vw;
  color: #333;
  margin: 0 auto;
  align-items: center;
  position: absolute;
  /* top: 10rem; */
  /* display: grid;
   place-items: center; */
  /*left: 40%; */
  /* display: flex; */
  /* justify-content: center; */
  font-size: 3rem;
}

.not-found p {
  text-align: center;
}
/* 
 .homepage li {
  padding: 2rem;
  background-color: black;
  max-width: 100vw;
  min-width: 45vw;
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
}  */

/* .homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  width: 100vw;
  text-align: center;

} */

.homepage {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: blue;
  justify-content: center;
  align-items: center;
}

.items:nth-of-type(2){
  margin-bottom: 2rem;
}
.items:nth-of-type(3){
  margin-bottom: 2rem;
}
.items:nth-of-type(1){
  margin-bottom: 2rem;
}

@media only screen and (max-width: 60rem){
.items:nth-of-type(2){
  transform: translateX(-2rem);
}

.items:nth-of-type(3){
  /* align-self: flex-end; */
  transform: translateX(1rem);

}
.items:nth-of-type(4){
  /* align-self: start; */
  transform: translateX(-7.5rem);

}
.items:nth-of-type(1){
  /* margin-bottom: 2rem; */
  transform: translateX(7rem);
}
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
.items:nth-of-type(1){
  margin-bottom: 5rem;
  transform: translateX(11rem);
}


.items:nth-of-type(2){
  margin-bottom: 5rem;
  transform: translateX(-5rem);
}

.items:nth-of-type(3){
  margin-bottom: 5rem;

  transform: translateX(4rem);

}
.items:nth-of-type(4){
  margin-bottom: 5rem;

  transform: translateX(-10.5rem);

}

}

.items{
  background-color: black;
  padding: 1.5rem;
  min-width: fit-content;
  max-width: fit-content;
}

.homepage a {
  color: white;
}

.current-time {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-spinner {
  /* width: 4rem;
  height: 4rem;
  border-radius: 40%;
  border: .4rem solid red;
  border-top: .4 solid #0d0d0d;
  animation: spin 2s linear infinite; */
  text-align: center;
}

/* @keyframes spin{
  0%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(360deg);
  }
} */

.btn-fetch {
  padding: 1rem;
  background-color: bisque;
  border-radius: 10%;
}

.flex {
  text-align: center;
}

.ip-list li {
  padding-top: 1rem;
}
